html,
body {
  padding: 0;
  margin: 0;
  font-family: avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: #141414;
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 


}

body {
/*  overflow-y: scroll;
*/}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 16rem;
}

main {
  padding: 2rem 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

h2 {
	font-weight: lighter;
	font-size: 2.6rem;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
	font-size: .8rem;
	margin: 0 1rem;
}

.first {
	margin-left: 0;
	display: flex;
}

.last {
	margin-right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #136653;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.navbar {
	width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.navbar li {
	margin: 0 .4rem;
}

.navbar li:first-child {
	margin-left: 0;
}

.navbar li:last-child {
	margin-right: 0;
}


.navbar-image {
	width: 30px;
}

.head {
/*  width: inherit;
*/  height: 10rem;
  background-image: url(public/fhmemphis-splash.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  /*width: 100vw;*/
  /*position: relative;*/
  /*left: 50%;*/
  /*right: 50%;*/
  /*margin-left: -50vw;
  margin-right: -50vw;*/
 /* padding: 0 16.6rem;*/
 margin-right: -16rem;
 margin-left: -16rem;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0 16rem;

}

.cigna {
  background-image: url(public/cigna-oscar-3.png);
  animation-name: image-fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.cigna-white {
  background-image: url(public/oscar-cigna-logo.jpg);
}

.head.cigna-white > h2 {
  color: black;

}

.head h2 {
  color: white;
}

.head-promo {
  font-size: 6rem;
}

input {
  display: block;
}

img {
  object-fit: contain;
}

.promo-strip {
  background-color: #136653;
  margin: 2rem 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 -16rem;
  padding: 1.8rem 16rem;

}

.promo-strip img {
  height: 130px;
}

.promo-details {
  flex-direction: column;
  color: white;
  height: 100%;
  font-size: 1.6rem;
}

.employee-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.employee-group > div:last-child {
  margin-left: 1rem;
}

.employee-strip {
  background-color: #136653;
  border-bottom: 8px solid #8db0a5;
  margin: 2rem 0;
  margin-top: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.employee-details {
  flex-direction: column;
  color: white;
  height: 100%;
  font-size: 1.6rem;
}

#aca-icon {
  width: 200px;
}

.employee-strip img {
  height: 130px;
}

ul {
	margin: 0;
	padding: 0;
  display: flex;
}

h3 > ul {
  display: block;
} 

ul.navbar {
}

li {
  list-style-type: none;
}

.cards {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  padding: 3rem 2rem;
  margin: 2rem 1rem;
  width: 20%;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #136653;
  border-left: 3px #136653 solid;
  color: ##100c08;
  font-weight: 500;
  font-size: 1.4rem;
  box-shadow: 3px 0 3px grey;
}

.cigna-section-title {
  margin-block-end: 0rem;
}


@media only screen and (max-width: 1080px) {
  .container {
    margin: 0 4rem;
  }

	ul, .navbar {
		flex-direction: column;
	}

  .navbar li {
    margin-left: 0;
  }

  .head {
    height: 10rem;
    margin: 0 -4rem;
    padding: 0 4rem;
  }

  .title {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .employee-group {
    flex-direction: column;
    margin-left: 0;
  }
  .employee-strip:last-child {
    margin-left: 0 !important;
  }
  .employee-strip {
    flex-direction: column;
/*    left: 50%;
*/    /*margin-left: -50vw;
    margin-right: -50vw;*/
    /*max-width: 100vw;*/
    margin-left: 0;
    /*position: relative;*/
    /*right: 50%;*/
    /*width: 100vw;*/
  }

  .head-promo {
    font-size: 1.6rem;
  }

  .card {
    font-size: 1.2rem;
    width: 40%;
  }

	
}

@media only screen and (max-width: 1080px) {
	.footbar {
		flex-direction: column;
	}

	.navbar .footer-text {
		margin-left: 0;
	}
}

@keyframes image-fade-in {
  0% {transform: translate(0px, 8px);}
  100% {transform: translate(0px, 0px);}
}

.section-subtitle {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #136653;
}

.section-title {
  font-size: 3rem;
  width: 50%;
  align-self: center;
  text-align: center;
  margin: 0;
  font-family: 'DM Serif Display';
  margin-bottom: 2rem;
  color: #136653;
}

.cigna-two-col {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-bottom: 12rem;
}

.cigna-col {
  max-width: 50%;
  width: 50%;
  align-content: center;
  text-align: center;
}

.cigna-image {
  object-fit: cover;
  height: 300px;
}

.cigna-col-title {
  font-size: 2.6rem;
}

.cigna-button {
  width: 21rem;
  background-color: white;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  display: block;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.faq-title {
  font-family: 'DM Serif Display';
  font-size: 3rem;
  margin: 1rem 0;
  color: #136653;
}

.faq {
  display: flex;
  flex-direction: column;

}

.faq-item {

}

.faq-question {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.contact-form {
  background-color: #f7f7f7;
  margin: 2rem -16rem;
  padding: 2rem 16rem;
}

.contact-form-label {
  display: inline-block;
  margin: 1rem 0;
}

.contact-form-input {
  display: block;
  padding: .5rem;
  margin-bottom: 2rem;
}

.slider-section {
  margin: 0 -16rem;
  background-color: #f7f7f7;
}

.slider {
  display: flex;
  margin: 2rem 16rem;
  background-color: white;
  flex-direction: row;
  padding: 4rem 4rem;
}

.slider img {
  max-height: 20rem;
  object-fit: contain;
  width: 50%;
}

.slider-content {
  margin: auto;
  padding: 0 2rem;
  width: auto;
  color: #136653;
}

.slider-description {
  font-size: 3rem;
  font-family: 'DM Serif Display';
}

.button-center {
  margin: auto;
  margin-bottom: 2rem;
  border: 1px solid #136653;
  /*-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         inset 0px 8px 8px 1px #ccc;*/
}

/*@font-face {
  font-family: DMSerifDisplay;
  font-style: normal;
  font-weight: 400;
    font-display: swap;
  src: local('DM Serif Display'), local('DMSerifDisplay'),
       url('/fonts/DMSerifDisplay-Regular.ttf') format('ttf')
}*/

@font-face {
  font-family: 'DM Serif Display';
  src: url(/fonts/DMSerifDisplay-Regular.ttf);
}

.contact-title {
  font-size: 3rem;
  font-family: 'DM Serif Display';
  margin-bottom: 0;
  color: #136653;
}

.contact-description {
  font-size: 1.1rem;
  margin-top: 0;
}

.contact-form-label {
  font-size: 1.5rem;
}

.contact-form-input {
  border-style: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-form-button {
  font-size: 1.5rem;
  border-style: none;
  background-color: #136653;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.contact-checkbox {
}